// colors
$blue:#2C29B6;
$red:#F50056;
$light: white;
$grey: #CACACA;
$darkergrey: #737373;
//navbar colors
$navbar-light-color:                rgba($red, 1);
$navbar-light-hover-color:          rgba($red, .7) ;
$navbar-light-active-color:         rgba($red, 1) ;
$navbar-light-disabled-color:       rgba($red, .3) ;


//fonts
$font-family-azonix:'Azonix Regular';
$font-family-sans-serif: 'Lato', sans-serif;
