.dropbtn {
	padding: 16px;
	font-size: 16px;
	border: none;
}
.dropdown {
	position: relative;
	display: inline-block;
	&:hover {
		.dropdown-content {
			display: block;
		}

	}
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: $light;
    min-width: 160px;
    max-width: 50%;
    box-shadow: -20px 0px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    top: -50px;
    height: 100%;
    text-align: center;
    overflow: scroll;
	a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		&:hover {
			background-color: #ddd;
		}
    }
    .preview-thumbnail {
        border: none;
        margin-top: 15px;
        li {
            width: 100%;
            cursor: pointer;
            img {
                max-width: 100%;
                display: block;
                border-bottom-right-radius:20px;
                margin-bottom: 5px;
                height: 100px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            a {
                padding: 0;
                margin: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }