.profile-menu{

    button{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 100%;
        padding: 25px;
        margin-bottom: 10px;
        color: $blue;
    }
}

.card-profile-shodow{
    .img-div{
 
        padding: 20px;
        float: left;
        img{
            width: 100px;
            height: 100px;
            display:block;
            margin:auto;
        }
    }
    .text-div{
        float: left;
        color: $blue;
        span{
            color:gray;
        }
    }
}


.profile-info{
    width: 100%;
    margin-top: 50px;
    h3{
        color: $blue;
    }
}