.shop-categories-container{
    width: 100%; 
    height: 80vh;
    padding: 5px;
}

.shop-left-categories{
    width: 50%;
    height: 80vh;
    float: left;
    padding: 5px;

}
.shop-right-categories{
    width: 50%;
    height: 80vh;
    float: left;


}
.shop-right-top-categories{
    width: 100%;
    height: 50vh;
    float: left;
    padding: 2.5px;

}
.shop-right-bottom-categories{
    width: 100%;
    height: 30vh;
    float: left;
    padding: 2.5px;
}
.shop-right-top-categories-element{
    width: 50%;
    height: 100%;
    float: left;
    padding: 2.5px;

}
